In [11]:
x = set(range(11))
print(x)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [4]:
x.add(11)
print(x)
x.remove(1)
print(x)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [6]:
set1 = {1,2,3,4,5}
set2 = {2,4,6,8,10}

union = set1.union(set2)
print(union)
inters = set1.intersection(set2)
print(inters)
diff = set1.difference(set2)
print(diff)
sym_dif = set1.symmetric_difference(set2)    
print(sym_dif)

{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{1, 3, 5, 6, 8, 10}

In [9]:
squ = {x**2 for x in range(1,11)}
print(squ)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [16]:
sq = {x for x in x if x%2==0}
print(sq)

{0, 2, 4, 6, 8, 10}

In [17]:
set3 = {1, 2,2,4,5,6,7,8,5,6,34,5,2,2}
st = set(set3)
print(st)

{1, 2, 34, 4, 5, 6, 7, 8}

In [19]:
set1 = {1,2,3,4,5}
set2 = {1,2,3}
print(set2.issubset(set1))
print(set1.issuperset(set2))

True
True

In [20]:
frozenset1 = frozenset({1,2,3,4,5})
print(frozenset1)

frozenset({1, 2, 3, 4, 5})

In [32]:
set1 = set(range(1,6))
print(set1)
ls = list(set1)
print(ls)
ls.append(6)
print(ls)
set1 = set(ls)
print(set1)

TypeError: 'set' object is not callable

In [22]:
d = {
    frozenset({1, 2}): 3,
    frozenset({3, 4}): 7,
    frozenset({5, 6}): 11
}
print(d)

{frozenset({1, 2}): 3, frozenset({3, 4}): 7, frozenset({5, 6}): 11}

In [23]:
set1 = {1,2,3,4,5}
for i in set1:
    print(i)

1
2
3
4
5

In [ ]:
s = set(range(1,6))
while s:
    s.pop()
    print(s)

TypeError: 'set' object is not callable

In [36]:
set1 ={1,2,3,4,5}
set2 = {2,4,6,8,10}
print(set1.symmetric_difference_update(set2))

None

# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [39]:
print(3 in set1)
print(5 in set2)

True
False

In [40]:
set = {(1,2),(3,4),(5,6)}
print(set)

{(1, 2), (3, 4), (5, 6)}